# Ignore Python bytecode and caches
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore environment files
.env

# Ignore generated outputs
app/results/output/
app/results/tmp/
app/results/input/
app/ocr_ollama/tmp/
app/ocr_ollama/output/
app/ocr_ollama/input/
app/results/tmp/
app/results/reports/

app/benchmark/archive
app/benchmark/invoices
app/benchmark/labels
# Ignore Tesseract/OCR artifacts
app/tmp/*.png
app/tmp/*.txt
