# Ignore Python bytecode and caches
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore environment files
.env

# Ignore generated outputs
app/output/
app/tmp/
app/input/
app/2_attempt_ocr_ollama/tmp/
app/2_attempt_ocr_ollama/output/
app/2_attempt_ocr_ollama/input/
app/tmp/


# Ignore Tesseract/OCR artifacts
app/tmp/*.png
app/tmp/*.txt
