# helper dependencies
Pillow~=11.3.0
numpy<2.0
pymupdf==1.26.3
pydantic~=2.11.7
python-dotenv==1.1.1

fastapi~=0.116.1

requests==2.32.4
# ocrs
easyocr==1.7.2

python-doctr~=0.8.11

transformers==4.54.1

pytesseract==0.3.13

paddleocr==3.1.0
paddlepaddle==3.1.0